<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Godock <%=h yield(:title) %> - Golang documents and examples powered by community</title>
	<meta name="description" content="Documentation and examples for golang gopkg." />
	<meta name="google-site-verification" content="XjzqkjEPtcgtLjhnqAvtnVSeveEccs-O_unFGGlbk4g" />
	<meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
	<link rel="search" type="application/opensearchdescription+xml" title="Godock" href="/opensearch.xml">
	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.js" type="text/javascript"></script>
        <% if Rails.env.production? %>
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-39931492-1', 'godock.org');
            ga('send', 'pageview');

          </script>
        <% end %>

	<script type="text/javascript" charset="utf-8">
	// <![CDATA[
	
	CD.ROOT_URL = "<%= ROOT_URL %>"
	
	function setUpInternalNav() {
		$(".scroll").click(function(event){
			//prevent the default action for the click event
			event.preventDefault();

			//get the full url - like mysitecom/index.htm#home
			var full_url = this.href;

			//split the url by # and get the anchor target name - home in mysitecom/index.htm#home
			var parts = full_url.split("#");
			var trgt = parts[1];
			
			//get the top offset of the target anchor
			var target_offset = $("a[name="+trgt+"]").offset();
			var target_top = target_offset.top - 10;

			//goto that anchor by setting the body scroll top to anchor top
			$('html, body').animate({scrollTop:target_top}, 500);
		});
	}
	
	$(document).ready(function() {
		setUpInternalNav()

		$('#main_search').keydown(function(e) {
			if(e.ctrlKey && e.which == 13) {
				$(".search form").append("<input type='hidden' name='feeling_lucky' value='true' />")
			}
		})
			
		$(document).keydown(function(e) {
			if(e.ctrlKey && (e.which == 83)) {
				$('#main_search').focus()
			}
			
			e.stopPropagation();
		})
	})
	// ]]>	
	</script>
	
	<script type="text/javascript">
	  /*** Google Analytics ***/
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-36921641-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>
	<%= render :partial => 'shared/header' %>
	
	
	<%= yield %>
	
	
	<div class="clear"></div>
        <% if user_signed_in? %>
          <%= render(:partial => 'feedbacker/tab') %>
        <% else %>
          <div id="feedback">
            <div id="compressed_feedback_form_tab">
              <%= link_to image_tag('feedback_tab.png'), "/login" %>
            </div>
          </div>
        <% end %>
	<div class="footer">
		Godock uses some elements of HTML5 / CSS3, and is best viewed in an up-to-date <a href="http://getfirefox.com">gecko</a> / <a href="http://www.google.com/chrome">webkit</a> -based browser.
		<br />
		<br />
		&copy; 2010 Zachary Kim <a href="http://zacharykim.com">http://zacharykim.com</a>
        <br/>
		2012 - Updated to Overtone by Xavier Riley <a href="http://www.xavierriley.co.uk">http://www.xavierriley.co.uk</a>
        <br/>
		2013 - Updated to Golang by Isaiah Peng <a href="http://www.github.com/isaiah">http://www.github.com/isaiah</a>
		<br />
		<br />
	</div>
        <script type="text/javascript">
          SyntaxHighlighter.all();
        </script>
</body>
</html>

